<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
	https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
	version="6.0">

<servlet>
	<servlet-name>attendance</servlet-name>
	<servlet-class>employee.attendanceaction</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>attendance</servlet-name>
	<url-pattern>/employee/AttendanceAction</url-pattern>
</servlet-mapping>

<resource-ref>
        <res-ref-name>jdbc/PostgresDB</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
</resource-ref>

<!--<servlet>-->
<!--	<servlet-name>adminlogin</servlet-name>-->
<!--	<servlet-class>adminjsp.adminloginaction</servlet-class>-->
<!--</servlet>-->
<!--<servlet-mapping>-->
<!--	<servlet-name>adminlogin</servlet-name>-->
<!--	<url-pattern>/adminjsp/AdminLoginAction</url-pattern>-->
<!--</servlet-mapping>-->
</web-app>